{% extends 'base.html' %}

{% block title %} Todo Task {% endblock %}


{% block content %}
  <div class="container mt-4">
    <h1>Add Task</h1>
    <form method="post" action="{% url 'todo:create_task' %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-primary">Add Task</button>
    </form>
  </div>
  
  <div class="container mt-4">
    <h1>My Tasks</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Description</th>
          <th>Task Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          {% if task.status.name == 'Completed' %}
          <td><strike>{{task.title}}</strike></td>
          <td><strike>{{task.description}}</strike></td>
          {% else %}
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          {% endif %}
          
          <td>{{task.status}}</td>
          <td>
            <a href="{% url 'todo:update_task' task.id %}"><button class="btn btn-primary">Edit</button></a>
            <a href="{% url 'todo:delete_task' task.id %}"><button class="btn btn-danger">Delete</button></a>
            <a href="{% url 'todo:done_task' task.id %}"><button class="btn btn-success">Done</button></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}