<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Tasks</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Add Task</h1>
  <form  method="post" action="{% url 'todo:create_task' %}">
    {% csrf_token %}
 
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
  </div>
</div>
  <div class="container">
    <h1>My Tasks</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Description</th>
          <th>Task Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for task in tasks %}
        <tr>
          <td>{{task.title}}</td>
          <td>{{task.description}}</td>
          <td>{{task.status}}</td>
          <td>
            <a href="{% url 'todo:update_task' task.id %}"><button class="btn btn-primary">Edit</button></a>
            <a href="{% url 'todo:delete_task' task.id %}"><button class="btn btn-danger">Delete</button></a>
            <a href="{% url 'todo:done_task' task.id %}"><button class="btn btn-success">Done</button></a>
          </td>
        </tr>
        {% endfor %}
       
      </tbody>
    </table>
  </div>
</body>
</html>