<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Task</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Create Task</h1>
    <form method="post" action="{% url 'todo:create_task' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="taskName">Task Name</label>
        <input type="text" class="form-control" name="title" placeholder="Enter task name">
      </div>
      <div class="form-group">
        <label for="taskDescription">Task Description</label>
        <textarea class="form-control" name="description" rows="3" placeholder="Enter task description"></textarea>
      </div>
      <div class="form-group">
        <label  id="status">Task Status</label>
        <select class="form-control" name="status" >
          <option value="">--Please choose an status--</option>
          {% for task in tasks %}
          <option value="{{task.id}}" name="status" >{{task.name}}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Create Task</button>
    </form>
  </div>
</body>
</html>